body {
  background-color: silver;
  color: white;
  padding: 20px;
  font-family: Arial, Verdana, sans-serif;
}
h1 {
  background-color: #ffffff;
  background-color: hsla(0,100%,100%,0.5);
  color: #64645A;
  padding: inherit;
}
p {
  padding: 5px;
  margin: 0px;
}
p.one {
  background-color: rgb(114,202,242);
}
p.two {
  background-color: rgb(140,202,242);
}
p.three {
  background-color: rgb(114,202,242);
}
p.four {
  background-color: rgb(200,202,242);
}
p.five {
  background-color: rgb(60,202,242);
}
p.six {
  background-color: rgb(140,202,242);
}
p.seven {
  background-color: rgb(114,202,242);
}
p.eight {
  background-color: rgb(114,202,242);
}
