@import url("typography.css");
@import url("tables.css");

body {
  width: 960px;
  margin: 0 auto;
  color: #666666;
  background-color: #a7ceef;
  text-align: center;}
#footer-content {
  overflow: auto;
  heright: 100%;}
#nav, #footer {
  background-color: #a7ceef;
  padding: 10px;
  margin: 10px;}
.column1, .column1, .column3 {
  background-color: #efefef;
  width: 300px;
  float: left;
  margin: 10px;}
